.title-brands{
    font-family: 'Raleway', sans-serif;
}  
.marcas{
    background-color: #f6f6f6;
}
.brand-img {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: .5s;
}
.brand-img:hover {
    filter: grayscale(0%);
    opacity: 1;
}
