@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, h3{
  font-family: 'Raleway', sans-serif;
}

.product-list{
  background-color: #fafafa;
}
.card-p-destacados{
  width: 18rem;
  border-radius: 5px;
}

footer{
  background-color: #212934 
}
.bi-whatsapp{
  font-size: 2em;
}
.bi-github{
  font-size: 2em;
}
.bi-instagram{
  font-size: 2em;
}
.bi-linkedin{
  font-size: 2em;
}
.footer-title{
  font-size: 18px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}
.navbar-principal{
  background-color: #fffff6;
  height: 5em;
}
.logo{
  font-size: 20px;
  font-family: 'Bruno Ace', cursive;
  color: rgb(102, 183, 102)!important;
}
.navbutton{
  font-size: 20px;
  font-weight: 600;
  margin-left: 5em;
  margin-top: 0.3em;
  font-family: 'Raleway', sans-serif;
}
.navbutton:hover{
  color: rgb(102, 183, 102)!important;
}
.bi-shop{
  font-size: 30px;
  color: rgb(102, 183, 102);
}
.marcas{
  background-color: #f6f6f6;
}
.servicios-icon {
  transition: .3s;
}
.servicios-icon:hover {
  background: #69bb7e;
}
.servicios-icon:hover, .servicios-icon:hover i {
  color: #fff;
}
.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: .5s;
}
.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.productos-destacados{
  background-color: #e9eef5 ;
  padding-bottom: 30px;
}
.title-categorias{
  font-weight: 500;
  padding-top: 60px;
  font-family: 'Raleway', sans-serif;
}
.title-destacados{
  font-weight: 500;
  padding-top: 60px;
  font-family: 'Raleway', sans-serif;
}
.bi-person-fill{
  font-size: 24px;
}
.bi-cart-fill{
  font-size: 24px;
}
.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}
.card.product-wap .card .product-overlay {
  background: rgba(0,0,0,.2);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.title-categories:hover {
  color: #3d5829;
}
.title-categories{
  color: #212934;
  font-size: 22px;
  font-weight: 500;
} 
.productDetails-bg{
    background-color: #e9eef5;
}
.title-services{
  font-family: 'Raleway', sans-serif;
}
.title-brands{
  font-family: 'Raleway', sans-serif;
}
.title-aboutus{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.p-about{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* Breakpoint  formato pc XL, arriba de los 1200px*/
@media screen and (max-width: 1200px) {
}
/* Breakpoint  formato pc LG, arriba de los 991px*/
@media screen and (max-width: 992px) {

  .bi-shop{
    font-size: 40px;
  }
  .bi-cart{
    font-size: 20px;
  }
  .nav-Buttons{
    margin-bottom: 2em;
    margin-top: 1em;
  }
  .navbutton{
    margin-left: 0em !important;
  }
 
}

/* Breakpoint formato tablet*/
@media screen and (max-width: 768px) {
  .carousel{
    margin: 0 !important;
  }
  .bi-shop{
    font-size: 40px;
  }
  .bi-cart{
    font-size: 20px;
  }
  .nav-Buttons{
    margin-bottom: 2em;
    margin-top: 1em;
  }

  .card-p-destacados{
    width: 18rem;
    border-radius: 5px;
  }
  .navbutton{
    margin-left: 0em !important;
  }
  .container-categories{
    display: grid;
    justify-content: center ;
  }
  .row-categories{
    width: 24rem;
  }
  .btn-buy{
    margin-top: 1em;
  }
  .btn-cart{
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 575px) {
  .card-p-destacados{
    width: 18rem;
    border-radius: 5px;
  }
  .navbutton{
    margin-left: 0em !important;
  }
  .bi-shop{
    font-size: 30px;
  }
  .logo{
    font-size: 20px;
  }
  .product-wap-contain{
    display: grid;
    justify-content: center ;
  } 
  .container-categories{
    display: grid;
    justify-content: center ;
  }
  .row-categories{
    width: 20rem;
  }
  .p-categories{
    font-size: 18px;
  }
  .p-destacados{
    font-size: 18px;
  }
  .p-about{
    font-size: 18px;
  }
  .btn-buy{
    margin-top: 1em;
  }
  .btn-cart{
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 375px) {
  .card-p-destacados{
    width: 18rem;
    border-radius: 5px;
  }
  .navbutton{
    margin-left: 0em !important;
  }
  .bi-shop{
    font-size: 25px;
  }
  .logo{
    font-size: 15px;
  }
  .product-wap-contain{
    display: grid;
    justify-content: center ;
  }
  .p-categories{
    font-size: 18px;
  }
  .p-destacados{
    font-size: 18px;
  }
  .p-about{
    font-size: 18px;
  }
  .btn-buy{
    margin-top: 1em;
  }
  .btn-cart{
    margin-top: 1em;
    margin-bottom: 1em;
  }
}